body {
  background-color: #FAFAFA; }

h1, h2, h3, h4, h5, p, li, a {
  color: #333848;
  font-family: "PingFang TC"; }

h1, h2, h3 {
  font-weight: 600; }

h1 {
  font-size: 48px;
  line-height: 67px; }

h2 {
  font-size: 32px;
  line-height: 45px; }

h3 {
  font-size: 28px;
  line-height: 40px; }

h5 {
  font-size: 20px;
  line-height: 28px; }

p {
  font-size: 20px;
  font-weight: 330;
  line-height: 28px; }

li, a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 350; }

.title-area h2 {
  padding-bottom: 10%; }

.title-area .border-bottom {
  height: 5px;
  width: 100px;
  margin-bottom: 20px;
  background-color: #5FC68B;
  margin-left: auto;
  margin-right: auto; }

.card {
  border: 0px;
  border-radius: .8rem !important;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0); }

button {
  border: 0px;
  display: inline-block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  text-align: center;
  cursor: pointer;
  outline: 0; }
  button:hover {
    text-decoration: none;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04); }
  button:active {
    -webkit-transform: scale(0.94);
    -ms-transform: scale(0.94);
    transform: scale(0.94); }

.mobile {
  display: none !important; }

.web {
  display: block !important; }

@media (max-width: 575.98px) {
  html, body {
    overflow-x: hidden; }
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; }
  .py-4 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important; }
  h1 {
    font-size: 36px;
    line-height: 50px; }
  h2 {
    font-size: 24px;
    line-height: 33px; }
  h3 {
    font-size: 24px;
    line-height: 33px; }
  h5 {
    font-size: 20px;
    line-height: 28px; }
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 350; }
  li, a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 350; }
  .title-area h2 {
    padding-bottom: 0%; }
  .title-area .border-bottom {
    margin-bottom: 20px; }
  .mobile {
    display: block !important; }
  .web {
    display: none !important; } }

.header {
  height: 70px; }
  .header .navbar-brand {
    padding: 15px 0px; }
    .header .navbar-brand img {
      width: 140px; }
  .header .navbar-nav {
    padding: 15px 0px; }
    .header .navbar-nav li {
      width: 140px;
      height: 30px; }
      .header .navbar-nav li a {
        text-align: center; }
        .header .navbar-nav li a:hover {
          text-decoration: underline; }
      .header .navbar-nav li button {
        height: 48px;
        width: 120px;
        border-radius: 24px;
        background-color: #5FC68B;
        color: #FFF; }
  .header .navbar-light .navbar-nav .nav-link {
    color: #333848; }

.banner .card {
  width: 100%;
  max-height: 680px;
  background-color: #EAEAEA; }
  .banner .card .bg {
    width: 110%;
    margin-left: -5%; }
    .banner .card .bg video {
      width: 120%;
      overflow: hidden;
      margin-left: -5%;
      margin-top: -6%;
      z-index: 0; }
  .banner .card .bg-mask {
    width: 150%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
    margin-left: -5%; }
  .banner .card .banner-content {
    position: absolute;
    padding: 10% 0% 0% 8%;
    z-index: 3; }
    .banner .card .banner-content h2 {
      font-weight: 410;
      color: #FFF; }
    .banner .card .banner-content p {
      padding-top: 10px;
      color: #FFF; }

.banner .carousel-fade .carousel-item {
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s; }

@media (max-width: 575.98px) {
  .banner .col-12 {
    width: 95% !important; }
  .banner .card {
    height: 280px;
    margin-left: auto;
    margin-right: auto; }
    .banner .card .bg {
      width: 125%;
      margin-left: -10%;
      margin-top: 0%;
      height: auto; }
    .banner .card .banner-content {
      padding: 10% 0% 0% 5%;
      width: 83%; }
      .banner .card .banner-content p {
        padding-top: 0px; } }

@media (max-width: 376px) {
  .banner .card {
    height: 300px; }
    .banner .card .bg {
      width: 155%;
      margin-left: -30%; } }

@media (max-width: 321px) {
  .banner .card {
    height: 260px; }
    .banner .card .bg {
      width: 160%;
      margin-left: -30%; }
    .banner .card .banner-content h2 {
      font-size: 20px; } }

.photo-right .section-card {
  height: 400px; }
  .photo-right .section-card .text-area {
    margin-top: 20%;
    margin-left: 15%;
    width: 400px; }
  .photo-right .section-card button {
    font-size: 20px;
    background: #5FC68B;
    color: #FFF;
    width: 130px;
    padding: .5em .7em;
    border-radius: 30px; }

@media (max-width: 575.98px) {
  .photo-right .section-card {
    height: 455px;
    position: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 24px 15px 24px 15px; }
    .photo-right .section-card .text-area {
      margin-top: 5px;
      margin-left: 8px;
      width: 85%; }
    .photo-right .section-card button {
      height: 52px;
      width: 90%;
      padding: .5em .7em;
      border-radius: 30px;
      background: #5FC68B;
      font-size: 20px;
      color: #FFF; }
    .photo-right .section-card img {
      width: 115%;
      margin-top: -5%; } }

.feature .card {
  padding: 60px 40px; }
  .feature .card .icon-area {
    width: 75%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
    .feature .card .icon-area h2 {
      padding-top: 25px; }

@media (max-width: 575.98px) {
  .feature .card {
    padding: 32px 0px; }
    .feature .card .icon-area {
      width: 100%;
      margin-top: 0px; }
      .feature .card .icon-area .icon img {
        width: 60px; }
      .feature .card .icon-area .icon h2 {
        padding-top: 8px; } }

.photo-left .section-card {
  height: 400px; }
  .photo-left .section-card img {
    margin-left: -20px; }
  .photo-left .section-card .text-area {
    margin-top: 30%;
    margin-left: 20px;
    width: 395px; }
    .photo-left .section-card .text-area h1 {
      color: #39AE6B; }
    .photo-left .section-card .text-area p {
      color: #81838C; }

@media (max-width: 575.98px) {
  .photo-left .section-card {
    height: 416px; }
    .photo-left .section-card img {
      width: 125%;
      margin-top: -40px;
      overflow: hidden;
      margin-left: -5%; }
    .photo-left .section-card .text-area {
      margin-top: 0%;
      margin-left: 0px;
      padding: 24px 13px;
      width: 100%; }
      .photo-left .section-card .text-area h1 {
        color: #39AE6B; }
      .photo-left .section-card .text-area p {
        color: #81838C; } }

@media (max-width: 376px) {
  .photo-left .section-card img {
    min-width: 340px;
    margin-top: -25px; } }

@media (max-width: 321px) {
  .photo-left .section-card {
    height: 370px; }
    .photo-left .section-card img {
      min-width: 300px;
      margin-top: -30px; } }

.apply .card {
  padding: 48px 48px 24px 48px; }
  .apply .card .col-md-4.col-12 {
    padding: 0px; }
  .apply .card .icon {
    width: 360px;
    height: 516px; }
    .apply .card .icon h3, .apply .card .icon p {
      text-align: center; }
    .apply .card .icon p {
      padding-top: 12px; }

@media (max-width: 575.98px) {
  .apply .card {
    padding: 20px 16px 16px 20px; }
    .apply .card .col-md-4.col-12 {
      padding: 0px;
      margin-right: auto;
      margin-left: auto; }
    .apply .card .icon {
      width: 100%;
      height: auto; }
      .apply .card .icon img {
        width: 90%; }
      .apply .card .icon h3 {
        margin-top: -10px; }
      .apply .card .icon p {
        padding-top: 0px; } }

.faq .card {
  padding: 53px 85px; }
  .faq .card .rectangle-text {
    height: 178px;
    width: 424px;
    padding: 28px 32px;
    border-radius: 16px;
    background-color: rgba(144, 226, 159, 0.2); }
  .faq .card .col-md-5 > p {
    padding-left: 32px;
    width: 400px;
    font-weight: 400;
    line-height: 28px;
    color: #81838C; }
  .faq .card .col-md-5 > p:nth-child(2) {
    padding-top: 24px; }
  .faq .card img {
    margin-left: 20px; }

@media (max-width: 575.98px) {
  .faq .card {
    padding: 10px 0px;
    background-color: #FAFAFA;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important; }
    .faq .card p {
      font-size: 20px;
      line-height: 28px; }
    .faq .card .rectangle-text {
      height: auto;
      width: 100%;
      padding: 20px 24px;
      border-radius: 0px;
      background-color: rgba(144, 226, 159, 0.2);
      margin-top: -10px; }
      .faq .card .rectangle-text p {
        color: #7F7F7F;
        margin-bottom: 0px; }
    .faq .card .col-md-5 > p {
      width: 100%;
      color: #7F7F7F; }
    .faq .card .col-md-5 > p:nth-child(2) {
      padding-top: 20px; }
    .faq .card img {
      width: 100%;
      margin-left: 0px; } }

.contact .card {
  padding: 34px 0px; }
  .contact .card .col-12 .input-group-lg {
    max-width: 362px !important;
    margin-left: auto;
    margin-right: auto; }
  .contact .card input {
    background-color: #FFFFFF;
    height: 68px;
    border: 1px solid #D5D5D5;
    border-radius: 34px;
    color: #81838C;
    font-weight: 320;
    line-height: 28px;
    padding: 0 0 0 36px; }
  .contact .card input:focus {
    -webkit-box-shadow: 0 0 0 1px #5FC68B;
    box-shadow: 0 0 0 1px #5FC68B; }
  .contact .card .phoneNunber {
    padding-top: 15px; }
  .contact .card button {
    outline: 0;
    position: absolute;
    margin-top: -65px;
    margin-left: 290px; }

@media (max-width: 575.98px) {
  .contact .card {
    padding: 28px 0px; }
    .contact .card .col-12 .input-group-lg {
      max-width: 304px !important; }
    .contact .card input {
      height: 53px;
      border-radius: 26px;
      font-size: 16px;
      line-height: 22px;
      padding: 0 0 0 28px; }
    .contact .card .phoneNunber {
      position: relative; }
    .contact .card button {
      outline: 0;
      position: absolute;
      top: 122%;
      left: -14%; }
      .contact .card button img {
        width: 44px; } }

@media (max-width: 376px) {
  .contact .card button {
    left: -16%; } }

@media (max-width: 321px) {
  .contact .card button {
    left: -35%; } }

.footer {
  padding: 55px 220px 0px 220px;
  height: 380px; }
  .footer img {
    width: 150px;
    margin-left: 5%; }
  .footer .border-bottom {
    height: 3px;
    width: 38px;
    background-color: #5FC68B; }
  .footer li {
    padding-bottom: 15px; }
    .footer li a {
      color: #81838C; }
  .footer ul li:nth-child(1) {
    padding-top: 15px; }

@media (max-width: 575.98px) {
  .footer {
    padding: 0px 25px;
    height: 100%; }
    .footer img {
      width: 120px; }
    .footer h5 {
      font-weight: 500;
      display: inline; }
    .footer h5, .footer li a {
      font-size: 12px;
      line-height: 17px; }
    .footer li {
      padding: 15px 0px; }
      .footer li a {
        color: #81838C; }
    .footer ul li:nth-child(1) {
      padding-top: 15px; }
    .footer .col-md-2.mb-md-0.mb-1 {
      padding: 10px 15px; }
    .footer .footer-collapse {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 80%;
      margin-top: -15px; }
      .footer .footer-collapse img {
        width: 24px;
        height: 24px;
        -webkit-filter: invert(0.5) brightness(1.6);
        filter: invert(0.5) brightness(1.6);
        -moz-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1); }
    .footer .footer-collapse:hover img {
      transform: .3s;
      -moz-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1); } }

@media (max-width: 376px) {
  .footer .footer-collapse {
    margin-left: 75%; } }

@media (max-width: 321px) {
  .footer .footer-collapse {
    margin-left: 70%; } }
