body 
    background-color: #FAFAFA

h1,h2,h3,h4,h5,p,li,a,button,input,span
    color: #333848
    font-family: "PingFang TC", "Roboto", "Noto Sans TC","微軟正黑體", sans-serif
	
h1,h2,h3
    font-weight: 600

h1 
    font-size: 48px
    line-height: 67px

h2 
    font-size: 32px
    line-height: 45px
    	
h3 
    font-size: 28px
    line-height: 40px
h5 
    font-size: 20px
    line-height: 28px
p
    font-size: 20px
    font-weight: 330
    line-height: 28px
li,a 
    font-size: 16px
    line-height: 22px
    font-weight: 350
.title-area
    h2 
        //padding-bottom: 10%
    p 
        color: #81838C
        font-size: 20px
        letter-spacing: 1px
        line-height: 28px
        text-align: center
        padding-bottom: 10px
    .border-bottom
        height: 5px
        width: 100px
        margin-bottom: 20px
        background-color: #5FC68B
        margin-left: auto
        margin-right: auto

.card
    border: 0px
    border-radius: .8rem !important
    -webkit-transition: all .3s
    -o-transition: all .3s
    transition: all .3s
    overflow: hidden
    position: relative
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)

.button, button
    border: 0px
    display: inline-block
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
    -webkit-tap-highlight-color: transparent
    -webkit-transition: all .1s
    -o-transition: all .1s
    transition: all .1s
    text-align: center
    cursor: pointer
    outline: 0 
    &:hover
        text-decoration: none
        -webkit-transform: scale(1.04)
        -ms-transform: scale(1.04)
        transform: scale(1.04)
    &:active
        -webkit-transform: scale(0.94)
        -ms-transform: scale(0.94)
        transform: scale(0.94)
.mobile
    display: none !important

.web
    display: block !important
    
@media (max-width: 767.98px)
    .mobile
        display: block !important

    .web
        display: none !important
@media (max-width: 767.98px)
    html,body
        overflow-x: hidden
    .col-12
        flex: 0 0 90%
    .py-4
        padding-bottom: 1rem!important
        padding-top: 1rem!important
    section.header ~ section.banner.py-4
        // padding-bottom: 0rem!important

    h1 
        font-size: 36px
        line-height: 50px

    h2 
        font-size: 24px
        line-height: 33px
            
    h3 
        font-size: 24px
        line-height: 33px
    h5 
        font-size: 20px
        line-height: 28px
    p
        font-size: 16px
        line-height: 22px
        font-weight: 350
    li,a 
        font-size: 16px
        line-height: 22px
        font-weight: 350
    .title-area
        h2 
            padding-bottom: 0%
        
        .border-bottom
            margin-bottom: 20px
    

//header    
.header
    height: 70px
    //position: relative
    .container
        position: fixed
        left: 50%
        transform: translateX(-50%)
        width: 100%
        z-index: 1000
        background-color: #FAFAFA
    .navbar-brand
        padding: 15px 0px
        img 
            width: 140px
    .navbar-nav
        padding: 15px 0px
        li
            width: 140px
            height: 30px
            a
                text-align: center
                &:hover
                    text-decoration: underline
            .button
                height: 48px
                width: 120px
                border-radius: 24px
                background-color: #5FC68B
                color: #FFF
    .navbar-light .navbar-nav .nav-link
        color: #333848
@media (max-width: 991.98px)
    .header
        .navbar-nav
            li
                width: 100px
                button
                    width: 110px
@media (max-width: 767.98px)
        .header
            height: 60px
            z-index: 100
            #apply-btn-header
                height: 40px
                width: 96px
                border-radius: 24px
                background-color: #5FC68B
                color: #FFF
                font-size: 16px
                position: absolute
                right: 12px
                // 為了IE
                top: 7px                 
            .navbar
                background-color: #FFF
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) 
                z-index: 1500 
            .container
                width: 100%
                left: 0
                transform: none
                padding: 0px
                position: fixed
                z-index: 1000
                .navbar-toggler
                    border: none
                    outline: 0 
                    .navbar-toggler-icon
                        margin-left: -10px
                        color: #000
                        width: 28px
                .navbar-brand
                    padding: 0px
                    padding-right: 40px
                    margin-left: auto
                    margin-right: auto
                    img
                        height: 35px
                        width: auto
                        display: block
                        margin: auto
                .nav-bg
                    position: fixed
                    background-color: #000
                    top: 0
                    left: 0
                    opacity: 0.6
                    z-index: 0
                    height: 100%
                    width: 100%
                    display: none
                .navbar-collapse
                    //overflow-y: scroll
                    //transform: translateX(-50%)
                    z-index: 1501
                    margin-left: 0px
                    max-width: 320px
                    width: 80%
                    height: 100% !important
                    background: #ffffff !important
                    position: fixed
                    top: 0px
                    left: -320px
                    transition: .5s
                    z-index: 1500 
                    .navbar-brand
                        padding: 12px 22px
                        img
                            height: 36px
                            width: auto
                            display: block
                            margin: auto
                    
                    .brand-bottom,.list-bottom
                        height: 1px
                        background-color: #D3D5D7
                    .brand-bottom
                        width: 100%
                    .list-bottom
                        width: 85%
                    .navbar-nav
                        z-index: 1500 
                        li,#apply-btn
                            text-align: left
                        li 
                            width: 200px
                            padding: 24px 28px
                            &:nth-last-child(3)
                                padding-bottom: 30px
                            &:nth-last-child(1)
                                padding-top: 30px
                        #apply-btn
                            padding: 0
                            border: 0
                            background-color: #FFF
                            color: #5FC68B
                        

                .navbar-light
                    .navbar-toggler
                        color: #000
            

// banner
.banner
    .card
        width: 100%
        max-height: 680px
        background-color: #EAEAEA
        .bg
            width: 110%
            margin-left: -5%
            video
                border-radius: .8rem !important
                width: 120%
                overflow: hidden
                margin-left: -5%
                margin-top: -6%
                z-index: 0
            .banner-content
                position: absolute
                top: 0px
                padding: 10% 0% 0% 8%
                z-index: 5
                h2 
                    font-weight: 410
                    color: #FFF
                p
                    padding-top: 10px
                    color: #FFF
            .bg-mask
                width: 150%
                height: 100%
                top: 0px
                background-color: rgba(0,0,0,0.5)
                z-index: 2
                position: absolute
                margin-left: -5%

        .carousel-fade .carousel-item
            transition-duration: 1.5s

@media (max-width: 1024px)
    .banner
        .card
            .bg
                width: 115%
                margin-left: -5%
                max-height: 500px
                video
                    width: 125%
@media (max-width: 767.98px)
    .banner
        
        .col-12
            width: 95% !important
        .card
            .bg
                max-height: 400px
                video
                    width: 135%
            .banner-content
                padding: 10% 0% 0% 5%
                width: 75%
                p
                    padding-top: 0px
@media (max-width: 575.98px)
    .banner
        .col-12
            width: 95% !important
        .card
            height: 280px
            margin-left: auto
            margin-right: auto
            .bg
                width: 130%
                height: 100%
                margin-left: -10%
                margin-top: 0%
                height: auto
                .banner-content
                    padding: 10% 0% 0% 10%
                    width: 75%
                    p
                        padding-top: 0px
@media (max-width: 376px)
    .banner
        .card
            height: 300px
            .bg
                width: 160%
                margin-left: -30%
                .banner-content
                    margin-left: 10%
                    width: 70%
@media (max-width: 321px)
    .banner
        .card
            height: 260px
            .bg
                width: 165%
                margin-left: -30% 
            .banner-content
                h2 
                    font-size: 20px


.photo-right
    .section-card
        height: 400px
        .text-area
            margin-top: 20%
            margin-left: 15%
            width: 400px
        button
            font-size: 20px
            background: #5FC68B
            color: #FFF
            width: 130px
            padding: .5em .7em
            border-radius: 30px
@media (max-width: 991.98px)
    .photo-right
        .section-card
            .text-area
                margin-left: 8%
                width: 300px
            img
                margin-left: -5%            
@media (max-width: 767.98px)
    .photo-right
        .section-card
            height: 470px
            padding: 24px 9px 24px 9px
            .text-area
                margin-top: 5px
                margin-left: 8px
                width: 95%
                img
                    width: 85%
                    padding-bottom: 20px
            button
                height: 52px
                width: 60%
                padding: .5em .7em
                border-radius: 30px
                background: #5FC68B
                font-size: 20px
                color: #FFF
                margin-left: auto
                margin-right: auto
            img 
                width: 100%
                position: relative
                margin-left: auto
                margin-right: auto
@media (max-width: 575.98px)
    .photo-right
        .section-card
            height: 455px
            position: flex
            align-items: flex-start
            justify-content: space-around 
            padding: 24px 9px 24px 9px
            .text-area
                margin-top: 5px
                margin-left: 8px
                width: 90%
            button
                width: 90%
            

.feature
    .card
        padding: 60px 40px
        .icon-area
            width: 75%
            margin-top: 20px
            margin-left: auto
            margin-right: auto
            h2 
                padding-top: 25px
@media (max-width: 991.98px)
    .feature
        .card
            padding: 40px 20px
@media (max-width: 575.98px)
    .feature
        .card
            padding: 32px 0px
            .icon-area
                width: 100%
                margin-top: 0px
                .icon
                    img
                        width: 60px
                    h2
                        padding-top: 8px

    
.photo-left
    .section-card
        height: 400px
        img
            margin-left: -20px
        .text-area
            margin-top: 30%
            margin-left: 45px
            width: 395px
            h1 
                color: #39AE6B
            p
                color: #81838C
@media (max-width: 991.98px)
    .photo-left
        .section-card
            img
                max-width: 500px
                margin-top: 100px
            .text-area
                margin-top: 25%
                margin-left: 25px
                width: 220px
@media (max-width: 767.98px)
    .photo-left
        .section-card
            max-height: 416px
            .col-md-7.order-md-1.d-flex
                padding: 0px
            img
                width: 150%
                margin-top: -30px
                overflow: hidden
                margin-left: auto
            .text-area
                margin-top: 0%
                margin-left: 0px
                padding: 25px 13px
                width: 100%
                h1 
                    color: #39AE6B
                p
                    color: #81838C
@media (max-width: 575.98px)
    .photo-left
        .section-card
            max-height: 416px
            .col-md-7.order-md-1.d-flex
                padding: 0px
            img
                width: 150%
                margin-top: -30px
                overflow: hidden
                margin-left: auto
            .text-area
                margin-top: 5%
                margin-left: 0px
                padding: 25px 13px 0px 13px
                width: 100%
                h1 
                    color: #39AE6B
                p
                    color: #81838C
@media (max-width: 376px)
    .photo-left
        .section-card
            img
                min-width: 340px
                margin-top: -25px
@media (max-width: 321px)
    .photo-left
        .section-card
            height: 370px
            img
                min-width: 300px
                margin-top: -30px           


.apply
    .card
        padding: 48px 48px 24px 48px
        .col-md-4.col-12
            padding: 0px
        .icon
            width: 360px
            height: 516px
            h3,p
                text-align: center
            p 
                padding-top: 12px
@media (max-width: 991.98px)
    .apply
        .card
            padding: 20px 20px 24px 20px
            .col-md-4.col-12
                padding: 0px
            .icon
                width: 230px
                height: auto
                img 
                    width: 100%
                h3,p
                    text-align: center
                p 
                    padding-top: 12px
@media (max-width: 767.98px)
    .apply
        .card
            padding: 20px 16px 16px 20px
            .col-md-4.col-12
                padding: 0px
                margin-right: auto
                margin-left: auto
            .icon
                width: 100%
                height: auto
                img
                    width: 90%
                h3 
                    margin-top: -10px
                p 
                    padding-top: 0px


.faq
    .card
        padding: 48px 0px 48px 92px
        .accordion#QA
            height: 550px
            .card
                padding: 0px
                margin-top: 15px
            .card.rectangle-text
                cursor: pointer
                //open
                .card-header
                    border-bottom: 0px
                    background-color: rgba(144,226,159,0.2)
                    padding: 12px 32px
                    height: auto
                    animation-delay: .3s
                    transition: 2.5s
                    cursor: pointer
                    h5 
                        margin: 0px
                        font-weight: bold
                        cursor: pointer
                .show
                    .card-body
                        opacity: 1
                        //height: auto
                        padding: 0px 32px 28px 32px
                        background-color: rgba(144,226,159,0.2)
                        -webkit-transform: perspective(1px) translateZ(0)
                        transform: perspective(1px) translateZ(0)
                        -webkit-transition-property: color
                        transition-property: color
                        transition: .8s  
                        cursor: pointer                    
                        p 
                            margin: 0px
                            cursor: pointer
                //close
                .card-header.collapsed
                    border-bottom: 0px
                    background-color: rgba(144,226,159,0) !important
                    padding: 12px 32px
                    height: auto
                    transition: 1s
                    h5 
                        margin: 0px
                .collapsed,.collapsing 
                    .card-body
                        opacity: 0
                        height: 0px
                        transition: 1s
                        padding: 0px 32px 28px 32px
        .col-md-5 > p
            padding-left: 32px
            width: 400px
            font-weight: 400
            line-height: 28px
            color: #81838C
        .col-md-5 > p:nth-child(2)
            padding-top: 24px
        img 
            margin-left: 20px
@media (max-width: 991.98px)
    .faq
        .card
            padding: 35px 40px
            .rectangle-text
                width: 350px
            .col-md-5 > p
                padding-left: 15px
            img 
                margin-left: 100px
                max-height: 400px
@media (max-width: 767.98px)
    .faq
        .card
            padding: 10px 0px
            background-color:#FAFAFA 
            //border-top-left-radius: 0px !important
            //border-top-right-radius: 0px !important
            border-radius: 0px !important
            p 
                font-size: 20px
                line-height: 28px
            .rectangle-text
                height: auto
                width: 100%
                padding: 20px 24px
                margin-top: -10px
                p
                    color: #7F7F7F
                    margin-bottom: 0px
            .col-md-5 > p
                width: 100%
                color: #7F7F7F
            .col-md-5 > p:nth-child(2)
                padding-top: 20px
            img 
                width: 100%
                margin-left: 0px


.contact
    .card
        padding: 34px 0px
        .col-12
            .input-group-lg
                max-width: 362px !important
                margin-left: auto
                margin-right: auto
        input
            background-color: #FFFFFF
            height: 68px
            border: 1px solid #D5D5D5
            border-radius: 34px
            color: #81838C
            font-weight: 320
            line-height: 28px
            padding: 0 0 0 36px
        input:focus
            box-shadow: 0 0 0 1px #5FC68B
        .phoneNunber
            padding-top: 15px
        span
            outline: 0 
            position: absolute
            margin-top: -64px
            margin-left: 298px
@media (max-width: 575.98px)
    .contact
        .card
            padding: 28px 0px
            .col-12
                .input-group-lg
                    max-width: 304px !important
            input
                height: 53px
                border-radius: 26px
                font-size: 16px
                line-height: 22px
                padding: 0 0 0 28px
            .phoneNunber
                position: relative
            span
                outline: 0 
                position: absolute
                top: 122%
                left: -14%
                img 
                    width: 44px
@media (max-width: 376px)
    .contact
        .card
            span
                left: -16%
@media (max-width: 321px)
    .contact
        .card
            span
                left: -35%

.more-service
    .owl-stage-outer
        // padding: 12px
        width: 100%
        margin: 0 auto
        .owl-stage
            position: relative
            .owl-item
                list-style: none
                width: 385px
                .service
                    width: calc(100% - 24px)
                    margin: 0 auto
                    border-radius: 16px
                    border: 1px solid #130b0b1a
                    overflow: hidden
                    max-width: 385px
                    // max-height: 221px
                    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0)
                    .bg
                        background: rgba(0,0,0,0)
                        max-width: 385px
                        width: calc(100% - 24px)
                        height: 100%
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        border-radius: 16px
                        transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0)
                    .svg
                        width: 55px
                        height: auto
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        background: rgba(255,255,255,0.3)
                        border-radius: 55px
                        z-index: 2
                        opacity: 0
                        transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1.0)
                
            .owl-item:hover 
                .service
                    .bg
                        background: rgba(0,0,0,0.6)
                    .svg
                        opacity: 1
                        &:hover
                            width: 50px
                        &:active
                            width: 58px
    .owl-prev, .owl-next
        width: 50px
        height: 50px
        margin: 0
        padding: 0
    .owl-prev
        border-radius: 25px 0 0 25px !important
    .owl-next
        border-radius: 0 25px 25px 0 !important
    .owl-theme .owl-nav [class*=owl-]
            height: 50px
            margin: 15px 0px
            background: #E9F4EE
            outline: none
            span
                color: #5DC58A
                font-size: 28px
    .owl-nav [class*=owl-]:hover 
        background: #5DC58A
        span
            color: #FFF
@media (max-width: 575.98px)
    .owl-nav
        display: none

    
.footer
    padding: 55px 220px 0px 220px
    height: 380px
    img 
        width: 150px
        margin-left: 5%
    .border-bottom
        height: 3px
        width: 38px
        background-color: #5FC68B
    li 
        padding-bottom: 15px
        a
            color: #81838C
    ul
        li:nth-child(1)
            padding-top: 15px
@media (max-width: 991.98px)
    .footer
        padding: 20px 100px 0px 100px
@media (max-width: 767.98px)
        .footer
            padding: 0px 30px 44px 30px
            height: 100%
            img 
                width: 120px
                margin-left: 0%
                margin-top: 10px
            h5 
                font-weight: 500
                display: inline
                
            h5,li a   
                font-size: 12px
                line-height: 17px
            li 
                padding: 5px 0px
                a
                    color: #81838C
            ul
                li:nth-child(1)
                    padding-top: 15px
            .col-md-2.mb-md-0.mb-1    
                padding: 10px 30px 0px 30px
                margin-bottom: 0px
            .footer-collapse
                display: inline-block
                width: 16px
                height: 16px
                // margin-left: 80%
                float: right
                margin-top: -15px
                background-color: rgba(0,0,0,0)
                border: none
                img
                    width: 24px
                    height: 24px
                    filter: invert(0.5) brightness(1.6)
            .footer-collapse.collapsed
                img
                    -moz-transform: scaleY(1)
                    -webkit-transform: scaleY(1)
                    -o-transform: scaleY(1)
                    -ms-transform: scaleY(1)
                    transform: scaleY(1)
            .footer-collapse
                img
                    transform: .3s
                    -moz-transform: scaleY(-1)
                    -webkit-transform: scaleY(-1)
                    -o-transform: scaleY(-1)
                    -ms-transform: scaleY(-1)
                    transform: scaleY(-1) 
@media (max-width: 575.98px)
     .footer
            .col-md-2.mb-md-0.mb-1    
                padding: 10px 15px 0px 15px

.story  
    .container
        position: relative
    .owl-stage-outer
        width: 100%
        margin: 0 auto
        //max-height: 500px
        .owl-stage
            height: 500px
            .owl-item
                list-style: none
                outline: 0
                .person
                    padding: 20px 0px
                    display: grid
                    justify-items: center
                    align-items: center
                    height: 400px
                    width: 400px
                    transition: 1s
                    .img-area
                        max-width: 400px
                        .icon
                            margin: 0 auto
                            border-radius: 100%
                            overflow: hidden
                            width: 100%
                            height: auto
                            max-width: 180px
                            max-height: 180px
                            display: flex
                            justify-content: center
                            border: 3px solid #FFFFFF
                            box-shadow: 4px 6px 10px 0 rgba(0,0,0,0.2);
                            img
                                height: 180px
                                width: auto
                                margin: 0 auto
                    .text-area
                        opacity: 0
                        max-height: 0px
                        transition: 1s
                        width: 400px
                        
                        border: 1px solid rgba(0,0,0,0.1)
                        //box-shadow: inset -1px -1px 0 0 rgba(0,0,0,0.1), inset 1px 1px 0 0 rgba(0,0,0,0.1)
                        transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
                        h3,p
                            opacity: 0
                        &:hover
                            text-decoration: none
                            -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05)
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05)

                    .more
                        opacity: 0
            .owl-item.slick-active.slick-center
                .person
                    padding: 20px 0px
                    height: 400px
                    width: 400px
                    .img-area
                        max-width: 100px
                        .icon
                            width: 100px
                            height: 100px
                            border: 2px solid #FFFFFF
                            img
                                height: 100px
                                width: auto
                    .text-area
                        max-height: inherit
                        opacity: 1
                        margin-top: 20px
                        background: #FFF
                        border-radius: 16px
                        padding: 20px 24px
                        h3,p
                            text-align: center
                            color: #333848
                            letter-spacing: 0
                            opacity: 1
                        h3
                            font-size: 28px
                            font-weight: 600
                            line-height: 40px
                        p
                            font-size: 20px 
                            line-height: 28px
                        .company
                            color: #39AE6B
                            font-size: 16px
                            font-weight: 600
                            line-height: 24px

    //nav               
    .owl-nav,.slick-arrow
        margin: 0 auto
        position: absolute
        z-index: 10
        bottom: 0
    .owl-prev, .owl-next, .slick-prev, .slick-next
        display: inline-block !important
        width: 50px
        height: 50px
        margin: 0 !important
        padding: 0
        outline: none
        height: 50px
        margin: 15px 0px
        background: #E9F4EE !important
        span
            color: #5DC58A 
            font-size: 28px
    .owl-prev:hover , .owl-next:hover 
        background: #5DC58A !important
        span
            color: #FFF
    .owl-prev
        border-radius: 25px 0 0 25px !important
        right: 50%
        
    .owl-next
        border-radius: 0 25px 25px 0 !important
        left: 50%
    
    .slick-track
        transition: all 0.3s ease
        height: 500px
    //link
    .more-link
        position: absolute
        right: 30px
        bottom: 65px
        display: grid
        grid-template-columns: repeat(2,auto)
        z-index: 2
        p
            color: #39ae6b
            font-size: 16px
            font-weight: 600
            letter-spacing: 0
            line-height: 22px
            text-align: center
        img
            width: 30px
            padding-left: 8px
            transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1)
        &:hover
            color: #39ae6b
            text-decoration: none
            img
                transform: translateX(5px)
               
@media (max-width: 767.98px)
    // .story
    //     .owl-stage-outer
    //         .owl-stage
    //             margin-left: 110px
@media (max-width: 575.98px)
    // .story
    //     .owl-stage-outer
    //         .owl-stage
    //             margin-left: 110px
                

.story-list
    .card
        border: 1px solid #D5D5D5
        border-radius: 10px
        background-color: #FFFFFF
        .img-area
            img
                width: 100%
        .text-area
            padding: 16px 24px
            h3,p
                letter-spacing: 0
                margin: 0
            h3
                color: #333848
                font-size: 24px
                line-height: 32px
                font-weight: 600
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-line-clamp: 1
                -webkit-box-orient: vertical
            p
                color: #81838C
                font-size: 20px
                line-height: 28px
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
            .company
                color: #39AE6B
                font-size: 16px
                line-height: 24px
                font-weight: 600
                margin-bottom: 4px
        &:hover
            text-decoration: none
            .text-area
                background-color: #F2F2F2
                -webkit-transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0)
                -o-transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0)
                transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0)
    .card-bottom
        height: 20px

.story-detail
    .article-area
        img 
            width: 100%
            border-radius: 16px
            margin: 40px 0
        p 
            color: #333848
            font-size: 20px
            letter-spacing: 0
            line-height: 28px

.first-tilt
    width: 200px
    height: 200px
    background-color: #7e56ff
    background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%)
    ransform-style: preserve-3d
    position: relative
    p
        color: #ffffff
        position: absolute
        will-change: opacity
    .left
        left: 5px
        opacity: 0
    .right
        right: 5px
        opacity: 0
    .show
        opacity: 1

#game-entry
    .row.justify-content-center
        position: relative;
        overflow: hidden;
        max-height: 400px;
        transform-style: preserve-3d;
        // #parellax
        //     position: relative;
        //     overflow: hidden;
        //     max-height: 400px;
        //     transform-style: preserve-3d;
        //     width: 100%;
        //     max-width: 1280px;
    .bg
        position: absolute;
        top: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
        transform: translateZ(20px);
    .people
        position: relative;
        top: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
        z-index: 1;
        top: 0;
        transform: translateZ(30px);
