extends layouts/layout.pug
block page-title
    title 微企e時貸
block content
    section.header
        .container
            nav.navbar.navbar-expand-lg.navbar-light
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#first-nav' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #first-nav.collapse.navbar-collapse
                    a.navbar-brand(href='#') 
                        img(src="./header/logo_firstbank@2x.png", alt="第一銀行")
                    ul.navbar-nav.ml-auto
                        li.nav-item.d-flex.align-items-center.justify-content-center
                            a.nav-link(href='#1') 信貸方案
                        li.nav-item.d-flex.align-items-center.justify-content-center
                            a.nav-link(href='#feature') 特色
                        li.nav-item.d-flex.align-items-center.justify-content-center
                            a.nav-link(href='#faq') FAQ
                        li.nav-item.d-flex.align-items-center.justify-content-center
                            a.nav-link(href='#apply') 申請流程
                        li.nav-item.d-flex.align-items-center.justify-content-center.ml-md-2
                            a.nav-link
                                button.btn 立即申辦

    section.banner.py-4
        .container
            .row.justify-content-center
                .col-12.card
                    .bg
                        video.caf(preload='auto', loop='', muted='', autoplay='', poster='https://i.vimeocdn.com/video/611388128_1280x720.jpg?r=pad', data-func='play_video')
                            //source(src='https://player.vimeo.com/external/158202697.m3u8?s=b01f0ac44a83760eb6f04e94b058897f998bf229&oauth2_token_id=424556544', type='application/x-mpegURL')
                            //source(src='https://player.vimeo.com/external/158202697.hd.mp4?s=88330ec5f0989af2b7d4701aa951500c7078dab7&profile_id=119&oauth2_token_id=424556544', type='video/mp4', media='(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)')
                            //source(src='https://player.vimeo.com/external/158202697.sd.mp4?s=4245bffa5b7ba70450c8e3973baa627bafbcf494&profile_id=164&oauth2_token_id=424556544', type='video/mp4', media='(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)')
                            source(src='https://drive.google.com/uc?export=download&id=16cPbSvvSZzNOJSabDXc-9jE67RvDjZ6A', type='video/mp4')
                            source(src='https://drive.google.com/uc?export=download&id=1GMUslDMMbxf5dAC40UuA_8BCGa9z5ge-', type='video/mp4',)
                            source(src='https://drive.google.com/uc?export=download&id=158Hd5_KvtJZdJq-gMelM-0t_c8UXhaEB', type='video/mp4',)
                    .bg-mask
                    .banner-content
                        h2 是時候 <br> 擁有一家自己的餐廳了
                        p 立即獲得試算額度，讓第一銀行微型企業貸款協助您圓夢 
    section.photo-right.py-4#1
        .container
            .row.justify-content-center
                .card.col-12
                    .section-card.row
                        .col-md-5
                            .text-area
                                h2 你可以從現在開始
                                p 第一銀行過去8年協助過超過73萬個微型創業遍及台、美、亞洲各地，讓第一銀行陪您開創事業
                                button.btn.web 立即申辦
                        .col-md-7
                            img(src="./im/im_01.svg", alt="im_01" title="im_01")
                        button.btn.mobile 立即申辦
    section.feature#feature.py-4
        .container
            .row.justify-content-center
                .title-area.text-center
                    h2 信貸特色
                    div.border-bottom
            .row.justify-content-center
                .card.col-12
                    .icon-area.row.text-center
                        .col-md-4
                            .icon
                                img(src="./ic/ic_01.svg", alt="ic_01" title="ic_01")
                                h2 200 萬元
                                p 依照營業額配比，最高可貸200萬
                        .col-md-4
                            .icon
                                img(src="./ic/ic_02.svg", alt="ic_02" title="ic_02")
                                h2 5 年
                                p 貸款期限最長可至5年
                        .col-md-4
                            .icon
                                img(src="./ic/ic_03.svg", alt="ic_03" title="ic_03")
                                h2 1.68 %
                                p 超低利率，前三個月貸款利率最低1.68%起
                        .col-md-4
                            .icon
                                img(src="./ic/ic_04.svg", alt="ic_04" title="ic_04")
                                h2 擔保
                                p.web 移送中小企業信用保證基金保證。負責人及實際經營者須擔任保證人
                                p.mobile 移送中小企業信用保證基金保證。<br>負責人及實際經營者須擔任保證人
                        .col-md-4
                            .icon
                                img(src="./ic/ic_05.svg", alt="ic_05" title="ic_05")
                                h2 對象
                                p 本國依法設立登記公司成立滿一年
                        .col-md-4
                            .icon
                                img(src="./ic/ic_06.svg", alt="ic_06" title="ic_06")
                                h2 5000元
                                p.web 開辦免壓力<br>超低開辦費用
                                p.mobile 開辦免壓力，超低開辦費用

    section.photo-left.py-4
        .container
            .row.justify-content-center
                .col-12.card
                    .row.section-card.d-flex

                        .col-md-5.order-md-2
                            .text-area
                                h2 協助企業遍及全球
                                h1 729,371
                                p 第一銀行過去8年協助過超過73萬個微型創業遍及台、美、亞洲各地，讓第一銀行陪您開創事業
                        .col-md-7.order-md-1.d-flex
                            img(src="./im/im_02.svg", alt="im_02" title="im_02")

    section.apply.py-4#apply
        .container
            .row.justify-content-center
                .title-area.text-center
                    h2 申請流程
                    div.border-bottom
            .row.justify-content-center
                .card.col-12
                    .row.text-center.icon-area
                        .col-md-4.col-12
                            .icon
                                img(src="./im/im_03.svg", alt="im_03" title="im_03")
                                h3 試算額度利率
                                p 3分鐘即可得知專屬信貸報價
                        .col-md-4.col-12
                            .icon
                                img(src="./im/im_04.svg", alt="im_04" title="im_04")
                                h3 填寫基本資料
                                p 填寫基本資料即完成申請<br>最快 n 天得知審核結果
                        .col-md-4.col-12
                            .icon
                                img(src="./im/im_05.svg", alt="im_05" title="im_05")
                                h3 取得資金！
                                p 創業圓夢，由此開始！
    section.faq#faq.py-4
        .container
            .row.justify-content-center
                .title-area.text-center
                    h2 FAQ
                    div.border-bottom
            .row.justify-content-center
                .col-12.card
                    .row.section-card
                        .col-md-5
                            div.rectangle-text
                                h5 申請貸款需要提供哪些資料呢？
                                p 依法辦理登記之獨資、合夥、有限公司與股份有限公司，財務結構健全、業務經營正常且一年營業額伍仟萬元以下
                            p 公司貸款跟個人貸款有什麼不一樣？
                            p 申請小型企業貸款需要準備哪些文件呢？
                            p 貸款申請到撥款會經過哪些流程？
                            p 要如何知道哪種貸款模式最適合我？
                        .col-md-7
                            img(src="./im/im_06.svg", alt="im_06" title="im_06")

    section.contact.py-4
        .container
            .row.justify-content-center
                .title-area.text-center
                    h2 專人聯絡我
                    div.border-bottom
            .row.justify-content-center
                .card.col-12
                    .row.justify-content-center
                        .col-12
                            .input-group-lg
                                input.form-control#userName(type="text" name='姓名' placeholder='請輸入您的姓名' required="required") 
                        .col-12
                            .input-group-lg.phoneNunber
                                input.form-control#phoneNunber(type="tel" name='手機號碼' placeholder='請輸入您的手機號碼' required="required" minlength="10" maxlength="10")
                                button
                                    img(src="./Button/btn_oval.svg", alt="Button")

    section.footer
        footer.page-footer.font-small.blue.pt-4
            .container.text-left
                .row#footer-links
                    .col-md-4.mt-md-0.brand-logo.pb-4
                        img(src="./footer/logo_firstbank.png", alt="第一銀行")
                    //- hr.clearfix.w-100.d-md-none.pb-3
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-1 相關服務
                        div.border-bottom.web
                        div.footer-collapse.d-md-none(type="button" data-toggle="collapse" data-target="#footer-1-content" aria-expanded="true" aria-controls="footer-1-content")
                            img.image(src="./img/arrow_down.svg", alt="" οnclick="change()")
                        //mobile with collapse
                        #footer-1-content.collapse.d-md-none(aria-labelledby="footer-1" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 第一金控
                                li
                                    a(href='#!') 活動專區
                                li
                                    a(href='#!') 線上徵才
                                li
                                    a(href='#!') 帳單繳費
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 第一金控
                            li
                                a(href='#!') 活動專區
                            li
                                a(href='#!') 線上徵才
                            li
                                a(href='#!') 帳單繳費
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-2 聯絡我們
                        div.border-bottom.web
                        div.footer-collapse.d-md-none(type="button" data-toggle="collapse" data-target="#footer-2-content" aria-expanded="true" aria-controls="footer-2-content")
                            img.image(src="./img/arrow_down.svg", alt="" οnclick="change()")
                        //mobile with collapse
                        #footer-2-content.collapse(aria-labelledby="footer-2" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 線上e專員
                                li
                                    a(href='#!') 門市查詢
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 線上e專員
                            li
                                a(href='#!') 門市查詢
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-3  客戶服務
                        div.border-bottom.web
                        div.footer-collapse.d-md-none(type="button" data-toggle="collapse" data-target="#footer-3-content" aria-expanded="true" aria-controls="footer-3-content")
                            img.image(src="./img/arrow_down.svg", alt="" οnclick="change()")
                        //mobile with collapse
                        #footer-3-content.collapse(aria-labelledby="footer-3" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 申請書下載
                                li
                                    a(href='#!') 營業規章
                                li
                                    a(href='#!') 公告資訊
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 申請書下載
                            li
                                a(href='#!') 營業規章
                            li
                                a(href='#!') 公告資訊    
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-4  其他服務
                        div.border-bottom.web
                        div.footer-collapse.d-md-none(type="button" data-toggle="collapse" data-target="#footer-4-content" aria-expanded="true" aria-controls="footer-4-content")
                            img.image(src="./img/arrow_down.svg", alt="" )
                        //mobile with collapse
                        #footer-4-content.collapse(aria-labelledby="footer-4" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 第一數速貸
                                li
                                    a(href='#!') iLeo
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 第一數速貸
                            li
                                a(href='#!') iLeo






