extends ../layouts/layout_2.pug
block page-title
    title 微企e時貸
block content
    section.header
        .container
            nav.navbar.navbar-expand-md.navbar-light
                //button.navbar-toggler( data-toggle='collapse' data-target='#first-nav' aria-controls='navbarTogglerDemo01' aria-expanded='ture' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                button.navbar-toggler(type='button', data-target='#first-nav', aria-controls='first-nav',  )
                    span.navbar-toggler-icon
                a.navbar-brand.mobile(href="#")
                    img(src="../img/header/logo_firstbank@2x.png", alt="第一銀行")
                button#apply-btn-header.button.btn.mobile 立即申辦
                .nav-bg 
                #first-nav.navbar-collapse  
                    a.navbar-brand(href='#') 
                        img(src="../img/header/logo_firstbank@2x.png", alt="第一銀行")
                    div.brand-bottom.mobile
                    ul.navbar-nav.ml-auto
                        li.nav-item.d-flex.align-items-center.justify-content-md-center
                            a.nav-link#link-1(href='../index.html#1') 信貸方案
                        li.nav-item.d-flex.align-items-center.justify-content-md-center
                            a.nav-link#link-2(href='../index.html#feature') 信貸特色
                        li.nav-item.d-flex.align-items-center.justify-content-md-center
                            a.nav-link#link-3(href='../index.html#faq') FAQ
                        li.nav-item.d-flex.align-items-center.justify-content-md-center
                            a.nav-link#link-4(href='../index.html#apply') 申請流程
                        li.nav-item.d-flex.align-items-center.justify-content-md-center
                            a.nav-link#link-4(href='../index.html#story') 封面故事
                        div.list-bottom.mobile
                        li.nav-item.d-flex.align-items-center.justify-content-md-center.ml-md-2
                            a.nav-link
                                button#apply-btn.button.btn 立即申辦
    section.story-banner.py-4.web
        .container
            .card
                img(src='../img/story/v5/banner_v5_02.png' alt='')
    section.story-detail.py-3
        .container
            .row.justify-content-center.py-3
                .title-area.text-center
                    h2 Moosy Life
                    p 面對收納課題，就從微收納開始
                    div.border-bottom
            .story-banner.mobile
                .card
                    img(src='../img/story/v5_02.png' alt='')
            .row.justify-content-center
                .col-md-9.article-area
                    img.first(src="../img/story/v5/v5_02_01.jpg", alt="")
                    p 「每天睜開雙眼，美好盡收才能有著穩定的心，將生活過的簡單，所處所在的每一處更宜人。」
                    p 目喜團隊在過去，擁有為許多國內外知名品牌設計櫥窗展櫃的經驗，除了擁有設計師專業外，也以貼近女性消費者的角度出發，了解「女生在收納上有什麼樣的需求」、「會喜歡什麼樣的顏色及款式」，更定義「收納即是一種展示」的理想。
                    p 「打開雙眼，看見美好」是創辦人想帶給人們的品牌理念，希望讓每個人的家中，都能誕生一塊屬於自己的小空間，待著自在、看了舒服。Moo的發音就像是嘟起的嘴巴，Sy則是笑了的模樣生活也能充滿美感，大家都能因為看見美好，而洋溢微笑。
                    p 懂生活、懂品味、更懂自己。每個女孩都該要有一個屬於自己的小空間，為自己而活。收納是每個人都要面對的課題，收的完美很困難，可以從微收納開始。微收納就是你要先丟掉不要的，才可以好好放入喜歡的物品集中收集，讓收納是種展示，展示自己的品味。
                    img(src="../img/story/v5/v5_02_02.jpg", alt="")                    
                    p 系列的設計靈感則取於大自然與生活，也是在過往的深度旅行中，將所經的城市天際線轉化而成，每一款的設計，都展現了「不用出門，在家裡就能看見的美好風景」。對於空間有著執著的堅持，希望運用設計力去幫助消費者有更好的選擇，讓陳列美學帶到人們的每個小房間，或是家中重要的一個角落。
                    p 「成立初衷能夠那麼夢幻，其實正是因為我們一直在做都是很夢幻的事。」
                    p 設計就是需要一眼抓住視覺，這也呼應到「目喜生活」兼具實用與美觀性的設定，希望讓每個使用目喜的女孩，都能感受到被閃耀眼睛的心動瞬間。
    
    section.contact.py-4
        .container
            .row.justify-content-center
                .title-area.text-center
                    h2 專人聯絡我
                    div.border-bottom
            .row.justify-content-center
                .card.col-12
                    .row.justify-content-center
                        .col-12
                            .input-group-lg
                                input.form-control#userName(type="text" name='姓名' placeholder='請輸入您的姓名' required="required") 
                        .col-12
                            .input-group-lg.phoneNunber
                                input.form-control#phoneNunber(type="tel" name='手機號碼' placeholder='請輸入您的手機號碼' required="required" minlength="10" maxlength="10")
                                span.button
                                    img(src="../img/Button/btn_oval.svg", alt="Button")
    
    section.footer
        footer.page-footer.font-small.blue.pt-4
            .container.text-left
                .row#footer-links
                    .col-md-4.mt-md-0.brand-logo.pb-4
                        img(src="../img/header/logo_firstbank@2x.png", alt="第一銀行")
                    //- hr.clearfix.w-100.d-md-none.pb-3
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-1 相關服務
                        div.border-bottom.web
                        span.footer-collapse.d-md-none.collapsed(data-toggle="collapse" data-target="#footer-1-content" aria-expanded="true" aria-controls="footer-1-content")
                            img.image(src="../img/img/arrow_down.svg", alt="" )
                        //mobile with collapse
                        #footer-1-content.collapse.d-md-none(aria-labelledby="footer-1" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 第一金控
                                li
                                    a(href='#!') 活動專區
                                li
                                    a(href='#!') 線上徵才
                                li
                                    a(href='#!') 帳單繳費
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 第一金控
                            li
                                a(href='#!') 活動專區
                            li
                                a(href='#!') 線上徵才
                            li
                                a(href='#!') 帳單繳費
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-2 聯絡我們
                        div.border-bottom.web
                        span.footer-collapse.d-md-none.collapsed( data-toggle="collapse" data-target="#footer-2-content" aria-expanded="true" aria-controls="footer-2-content")
                            img.image(src="../img/img/arrow_down.svg", alt="" )
                        //mobile with collapse
                        #footer-2-content.collapse(aria-labelledby="footer-2" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 線上e專員
                                li
                                    a(href='#!') 分行查詢
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 線上e專員
                            li
                                a(href='#!') 分行查詢
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-3  客戶服務
                        div.border-bottom.web
                        span.footer-collapse.d-md-none.collapsed(data-toggle="collapse" data-target="#footer-3-content" aria-expanded="true" aria-controls="footer-3-content")
                            img.image(src="../img/img/arrow_down.svg", alt="" )
                        //mobile with collapse
                        #footer-3-content.collapse(aria-labelledby="footer-3" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 申請書下載
                                li
                                    a(href='#!') 營業規章
                                li
                                    a(href='#!') 公告資訊
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 申請書下載
                            li
                                a(href='#!') 營業規章
                            li
                                a(href='#!') 公告資訊    
                    .col-md-2.mb-md-0.mb-1
                        h5.text-uppercase.footer-title#footer-4  其他服務
                        div.border-bottom.web
                        span.footer-collapse.d-md-none.collapsed( data-toggle="collapse" data-target="#footer-4-content" aria-expanded="true" aria-controls="footer-4-content")
                            img.image(src="../img/img/arrow_down.svg", alt="" )
                        //mobile with collapse
                        #footer-4-content.collapse(aria-labelledby="footer-4" data-parent="#footer-links")
                            ul.list-unstyled
                                li
                                    a(href='#!') 第一數速貸
                                li
                                    a(href='#!') iLeo
                        //Web no collapse
                        ul.list-unstyled.web
                            li
                                a(href='#!') 第一數速貸
                            li
                                a(href='#!') iLeo






