doctype html
head
    meta(name='description', content=' 網頁敘述')
    meta(name='keywords', content='網頁相關關鍵字')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //library 
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto&display=swap" rel="stylesheet")

    link(href='./css/owl.carousel.min.css', rel='stylesheet')
    link(href='./css/owl.theme.default.min.css', rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(href='./css/bootstrap.min.css', rel='stylesheet')
    link(href='./css/firstB.css', rel='stylesheet')

    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
block page-title
    title 微企e時貸